{% block title %}{{ parent() }} | Editer un film {% endblock %}

<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h4>Modifier un film</h4>
			</div>
		</div>
		{% include "includes/movie_form.html.twig" %}
</div>
